
name: Lean

on: 
  release:
    types: [published]
  push:
    branches: 
      - master
  schedule:
    - cron: 0 0,6,12,18 * * *

env:
  CONFIG_FILE: seed.config
  
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: master

      - name: Space cleanup
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          docker rmi `docker images -q`
          sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
          sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3.5 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler g++-multilib antlr3 gperf
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          rm -rf openwrt
          df -h
          
      - name: Clone source code
        run: |
          git clone https://github.com/coolsnowwolf/lede
          
          
      - name: Load basic configuration
        run: |
          pwd
          cd lede/
          sed -i "s/16384/65536/" package/kernel/linux/files/sysctl-nf-conntrack.conf 
          sed -i '$d' package/lean/default-settings/files/zzz-default-settings
          echo echo 0xDEADBEEF \> /etc/config/google_fu_mode >>package/lean/default-settings/files/zzz-default-settings
          echo exit 0  >>package/lean/default-settings/files/zzz-default-settings
      
      - name: Update feeds
        run: |
          cd lede/
          ./scripts/feeds update -a
          ./scripts/feeds install -a
  
      - name: Load custom configuration
        run: |
          cd lede/
          [ -e $CONFIG_FILE ] && cat $CONFIG_FILE >> .config
      
      - name: Generate configuration file
        run: |
          cd lede/
          make defconfig
      - name: Make download
        run: |
          cd lede/
          make download -j8
          find dl -size -1024c -exec rm -f {} \;
      - name: Compile firmware
        run: |
          cd lede/
          make -j$(nproc) || make -j1 V=s
          echo "======================="
          echo "Space usage:"
          echo "======================="
          df -h
          echo "======================="
          du -h --max-depth=1 ./ --exclude=build_dir --exclude=bin
          #du -h --max-depth=1 ./build_dir
          #du -h --max-depth=1 ./bin
      - name: Prepare artifact
        run: find lede/bin/targets/ -type d -name "packages" | xargs rm -rf {}
        
      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: Lean firmware
          path: lede/bin/targets/
